<meta name="viewport" content="width=device-width, initial-scale=1">
  
<div class="bg">

  <button  aria-label="Example icon button with a menu icon" class="btn2" style="margin-left: 1380px; margin-top: 60px;">
    <mat-icon> format_align_right</mat-icon>
  </button>

 
<br>

    <button mat-stroked-button class="btn">
     
        <mat-icon>account_circle</mat-icon>    Log In
    </button>
<!-- radio buttons -->

<div class="radio">
<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1" color="primary"> </mat-radio-button> <br><br><br>
  <mat-radio-button value="2" color="primary"> </mat-radio-button> <br><br><br>
  <mat-radio-button value="3" color="primary"> </mat-radio-button>
</mat-radio-group>
</div>

  
</div>  


<br>

  <div class="b">
        <div class="box">
            <h1 style="padding:5px; margin-left:75px; margin-top: 40px; color:white; position:center"> Sri Lanka's Best <br> Online Management System</h1>
           
            <img src="/assets/doctor.png" class="dr"> 
              

     </div> </div>
<!-- cards -->
<br><br><br><br><br>
     <div class="row">
        <div class="column" style="margin-left: 80px;">
            <mat-card class="example-card" style="margin-right: 60px;">
               
                <img mat-card-image src="/assets/cardex1.png"  >
                <mat-card-content>
                  <p>
                    Put simply, all of the different types and kinds of paragraphs simply involve layering on a different purpose or intent.
                     When students have the right foundation, it’s just that simple.
                    
                  </p>
                </mat-card-content>
               
              </mat-card>
        </div>
      
        <div class="column" style="margin-right: 30px;">
            <mat-card class="example-card" >
               
                <img mat-card-image src="/assets/ambulance.png"  >
                <mat-card-content>
                  <p>
                    Put simply, all of the different types and kinds of paragraphs simply involve layering on a different purpose or intent.
                     When students have the right foundation, it’s just that simple.
                     
                  </p>
                </mat-card-content>
               
              </mat-card>
        </div>
        
        <div class="column">
            <mat-card class="example-card" >
               
                <img mat-card-image src="/assets/cardex2.png" style="height:380px; width:300px; position: center;">
                <mat-card-content>
                  <p>
                    Put simply, all of the different types and kinds of paragraphs simply involve layering on a different purpose or intent.
                     When students have the right foundation, it’s just that simple.
                   
                </mat-card-content>
               
              </mat-card>
        </div>
        
       
      </div>
      <!-- empty box -->
      <div class="b">
        <div class="box2">
            <p style="visibility: hidden;"> Sri Lanka's Best Online Management System.  </p> 
           
         
              

     </div> </div>