<meta name="viewport" content="width=device-width, initial-scale=1">
  
<div class="toppage">

  <button  aria-label="Example icon button with a menu icon" class="btn2" style="margin-left: 1380px; margin-top: 60px;">
    <mat-icon> format_align_right</mat-icon>
  </button>

  <button mat-stroked-button class="btn">
     
    <mat-icon>account_circle</mat-icon>    Sign Up
</button>
<mat-icon style="margin-left:1400px;">facebook</mat-icon> <br>

<img src="/assets/twi.png" style="margin-left:1400px;"> 
<img src="/assets/igi.png"style="margin-left:1400px;"> 
 
<br>
</div>

<br>

  <div class="b">
        <div class="box">
            <p style="padding:10px; margin-left:280px; margin-top: 40px; color:white; position:center; font-size: 45px;">
                  Sri Lanka's Best <br> Online Hospital</p>
           
            <img src="/assets/doctor2.png" class="doctor"> 
              

     </div> </div>
     <br><br>  <br><br>

     <div class="b">
        <div class="box2">
      
            <p style="position:absolute; margin-top: 80px; margin-left: 200px; font-size:x-large; font-weight: bold; "> NAME  </p> 
            <div class="line"></div>
           <P style="position:absolute; margin-top: 50px; margin-left: 560px; font-size:large;"> SERVICES </P>
           <P style="position:absolute; margin-top: 50px; margin-left: 900px; font-size:large;"> CONTACTS </P>
          
           
         
              

     </div> </div>
  
