<meta name="viewport" content="width=device-width, initial-scale=1">
  
<div class="toppage">

  <button  aria-label="Example icon button with a menu icon" class="btn2" style="margin-left: 1380px; margin-top: 60px;">
    <mat-icon> format_align_right</mat-icon>
  </button>

  <button mat-stroked-button class="btn">
     
    <mat-icon>account_circle</mat-icon>    Sign Up
</button>
 
<br>
</div>

<br>

  <div class="b">
        <div class="box">
            <p style="padding:10px; margin-left:280px; margin-top: 40px; color:white; position:center; font-size: 45px;">
                  Sri Lanka's Best <br> Online Hospital</p>
           
            <img src="/assets/doctor2.png" class="doctor"> 
              

     </div> </div>
     <br><br>  <br><br>

     <div class="b">
        <div class="box2">
            <p style="font-size:larger !important"; > NAME  </p> 
           
         
              

     </div> </div>

